.Form__input{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.Input__label{
    color: white;
    font-weight: 500;
}

.input{
    border-radius: 3px;
    border: 1px solid white;
    background-color: #111;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.input__check{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0.6rem 0;
}